html {
  font-family: "Unica One", sans-serif;
}

h1 {
  color: #fff;
  left: 50px;
  bottom: 290px;
  z-index: 1;
  max-width: 180px;
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

#narwhal-body {
  animation: draw-body 1s ease-in forwards;
  stroke-dasharray: 1908.791px;
  stroke-dashoffset: 1908.791px;
}

@keyframes draw-body {

  0% {
    stroke-dashoffset: 1908.791px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#narwhal-eye {
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#rainbow-violet {
  animation: draw-violet 1s .5s ease-in forwards;
  stroke-dasharray: 1917.625px;
  stroke-dashoffset: 1917.625px;
}

@keyframes draw-violet {

  0% {
    stroke-dashoffset: 1917.625px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
  animation: draw-indigo 1s .5s ease-in forwards;
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502px;
}

@keyframes draw-indigo {

  0% {
    stroke-dashoffset: 1812.502px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-blue {
  animation: draw-blue 1s .5s ease-in forwards;
  stroke-dasharray: 1705.479px;
  stroke-dashoffset: 1705.479px;
}

@keyframes draw-blue {

  0% {
    stroke-dashoffset: 1705.479px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-green {
  animation: draw-green 1s .5s ease-in forwards;
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 1596.043px;
}

@keyframes draw-green {

  0% {
    stroke-dashoffset: 1596.043px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-yellow {
  animation: draw-yellow 1s .5s ease-in forwards;
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 1483.352px;
}

@keyframes draw-yellow {

  0% {
    stroke-dashoffset: 1483.352px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-orange {
  animation: draw-orange 1s .5s ease-in forwards;
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 1366.26px;
}

@keyframes draw-orange {

  0% {
    stroke-dashoffset: 1366.26px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-red {
  animation: draw-red 1s .5s ease-in forwards;
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 1243.044px;
}

@keyframes draw-red {

  0% {
    stroke-dashoffset: 1243.044px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}
