html {
  font-family: 'Unica One', cursive;
}

h1 {
  color: #fff;
  left: 50px;
  bottom: 290px;
  z-index: 1;
  max-width: 180px;
}

#narwhal-body {
  animation: ;
  stroke-dasharray: 1908.791px;
  stroke-dashoffset: 1908.791px;
}

#narwhal-eye{

  }

#rainbow-violet {

}

#rainbow-indigo {

}

#rainbow-blue {

}

#rainbow-green {

}

#rainbow-yellow {

}

#rainbow-orange {

}

#rainbow-red {

}
